@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", "cursive" sans-serif;
}

.btn {
  background-color: .btn color-bg2;
}

.btn-new {
  background-color: #99E2D0;
}

.fa-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
}
.fa-heart:hover + i.fa-heart-hidden {
  transition: all 400ms ease-out;
  scale: 1;
  opacity: 1;
}

i.fa-heart-hidden {
  opacity: 0;
  scale: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(#9356DC, #FF79DA);
}
i.fa-heart-hidden:hover {
  transition: all 400ms ease-out;
  opacity: 1;
  scale: 1;
}

header {
  text-align: center;
}
header h1 {
  color: black;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  padding: 8px;
}
header .search-city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  padding: 12px;
}
header .search-city input {
  border: none;
  background-color: #eaeaea;
  padding-left: 10px;
  color: black;
  font-weight: bold;
}
header .search-button {
  background-color: #f6f6f6;
  padding: 38px;
}
header .search-button h2 {
  font-size: 22px;
}
header .search-button p {
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 18px;
}
header .search-button button {
  margin: 18px;
  padding: 14px;
  border-radius: 30px;
  box-shadow: 0 5px 10px #eaeaea;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  width: 203px;
  transition: transform 300ms;
}
header .search-button button:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 520px) {
  header {
    height: 330px;
  }
}

.functioning {
  background-color: #fff;
  padding: 30px;
}
.functioning h3 {
  font-size: 22px;
}
.functioning ol {
  display: grid;
  grid-template-rows: repeat(3, 80px);
  gap: 20px;
  padding: 20px 0 20px 13px;
  counter-reset: li;
}
.functioning ol li {
  box-shadow: 0 5px 10px #eaeaea;
  background-color: #f6f6f6;
  padding: 24px;
  border-radius: 20px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  counter-increment: li;
}
.functioning ol li:nth-child(3) {
  background-color: rgba(147, 86, 220, 0.1);
}
.functioning ol li:nth-child(3) .fas {
  color: #9356DC;
}
.functioning ol li::before {
  content: counter(li);
  background-color: #9356DC;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  font-family: roboto, sans-serif;
  position: absolute;
  top: 30px;
  left: -14px;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.functioning ol li .fas {
  width: 30px;
  padding-left: 0 20px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 30px;
  display: grid;
  gap: 20px;
  grid-template-rows: auto repeat(4, 250px);
  grid-template-areas: "titre" "palette" "note" "francaise" "delice";
}
.restaurants .resto-title {
  grid-area: titre;
}
.restaurants .palette {
  grid-area: palette;
}
.restaurants .note {
  grid-area: note;
}
.restaurants .francaise {
  grid-area: francaise;
}
.restaurants .delice {
  grid-area: delice;
}
.restaurants h3 {
  font-size: 22px;
}
.restaurants .card {
  display: block;
  border-radius: 20px;
  box-shadow: 0 5px 10px #eaeaea;
}
.restaurants figure {
  position: relative;
  box-shadow: 0 5px 10px #eaeaea;
  border-radius: 20px;
  height: 180px;
}
.restaurants .new {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #99E2D0;
  color: #278870;
  padding: 4px;
  font-weight: bold;
}
.restaurants figcaption {
  height: 40%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  color: black;
  padding: 10px;
  position: relative;
}
.restaurants figcaption h4 {
  font-size: 17px;
}
.restaurants figcaption p {
  font-size: 17px;
}
.restaurants img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

footer {
  background-color: #353535;
  padding: 20px;
}
footer h4 {
  padding-bottom: 16px;
  font-family: "shrikhand";
  font-weight: 500;
}
footer .fas {
  width: 20px;
}
footer a {
  color: white;
}
footer .fa-hands-helping {
  font-size: 0.7rem;
}
@media screen and (min-width: 940px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}

body {
  /*creation loader*/
  /*.loader-container {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.9);

  }
  .loader {
      width: 120px;
      height: 120px;
      border: 5px solid transparent;
      border-top-color: $color-primary;
      border-radius: 50%;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      animation: spin 6s linear infinite;

      &::before {            
          content: "";
          position: absolute;
          width: 90px;
          height: 90px;           
          //top: 5px;
          //left: 5px;
          //right: 5px;
          //bottom: 5px; 
          border-radius: 50%;
          border: 5px solid transparent;
          border-top-color: $color-secondary;
          animation: spin 7s linear infinite;
      }

      &::after {            
          content: "";
          position: absolute;
          width: 85px;
          height: 85px;
          top: 5px;
          left: 5px;
          //right: 15px;
          //bottom: 15px;
          border-radius: 50%;
          border: 5px solid transparent;
          border-top-color: $color-tertiary;
          animation: spin 8s linear infinite;
      }
  } */
  /*@media screen and (min-width: 520px) {             
      grid-template-columns: 1fr 2fr;

      header {
          grid-area: header;
      }

      .functioning {
          grid-area: functioning;
      }

      .resto-title {
          grid-area: titre;
      }

      .palette {
          grid-area: palette;
      }

      .note {
          grid-area: note;
      }

      .francaise {
          grid-area: francaise;
      }

      .delice {
          grid-area: delice;
      }

      footer {
          grid-area: footer;
      }
      grid-template-areas:             
          "header header"
          "functioning functioning"
          "titre titre"
          "palette note"
          "francaise delice"
          "footer footer";        
  }

  @media screen and (min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;

      header {
          grid-area: header;
      }

      .functioning {
          grid-area: functioning;
      }    

      .palette {
          grid-area: palette;
      }

      .note {
          grid-area: note;
      }

      .francaise {
          grid-area: francaise;
      }

      .delice {
          grid-area: delice;
      }

      footer {
          grid-area: footer;
      }
      grid-template-areas: 
          "header header header"
          "functioning palette note"
          "functioning francaise delice"        
          "footer footer footer";        
  } */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

section {
  /*    @media screen and (min-width: 520px) {
      display: grid;
      grid-template-columns: repeat (3, 1fr);
      grid-template-areas:
          "starter dish dessert"
          ". order .";

      .starter {
          grid-area: starter;
      }

      .dish {
          grid-area: dish;
      }

      .dessert {
          grid-area: dessert;
      }

      .order {
          grid-area: order;
      }
  } */
}
section button {
  margin: 18px;
  padding: 14px;
  border-radius: 30px;
  box-shadow: 0 5px 10px #eaeaea;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  width: 203px;
  transition: transform 300ms;
  padding: 14px 40px;
}
section button:hover {
  transform: scale(1.1);
}
section h2 {
  text-transform: uppercase;
  margin-bottom: 16px;
}
section h2 span {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 4px;
}

.resto__header {
  position: relative;
  box-shadow: 0 5px 10px #eaeaea;
}
.resto__header .fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: black;
}

main {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

.resto__name {
  position: relative;
  display: flex;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  height: 60px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  margin-top: -60px;
}

article {
  padding: 20px;
}
article ul {
  display: grid;
  gap: 15px;
}
article li {
  border: 1px solid transparent;
  box-shadow: 0 5px 10px #eaeaea;
  border-radius: 12px;
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  transition: transform 1s;
  -webkit-animation: progress 3s;
  -moz-animation: progress 3s;
  animation: progress 3s forwards;
  transform: translateY(20px);
}
@keyframes progress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
article li .choice {
  width: 100%;
  padding: 8px;
  /*
  animation-delay: 150ms;
  animation: opacity 1s both;
  */
  position: relative;
  transition: all 2s;
}
article li .choice p {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  padding-right: 40px;
}
article li .choice .price {
  font-size: 12px;
  position: absolute;
  right: 16px;
  bottom: 10px;
  font-weight: bold;
}
article li .choice h3 {
  font-size: 15px;
}
article li .check {
  height: 100%;
  transform: translateX(60px);
  background-color: #99E2D0;
  border-radius: 0 12px 12px 0;
  transition: all 2s;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
article li .check i {
  color: white;
}
article li:hover > span:nth-child(1) {
  width: calc(100% - 60px);
}
article li:hover > span:nth-child(2) {
  transform: translateX(0);
  width: 60px;
}
article li:hover > span:nth-child(2) .fa-check-circle {
  animation: rotate 2s;
}
@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}

.order {
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
