@charset "UTF-8";
/*-webkit-box-shadow: 6px 9px 4px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 6px 9px 4px 0px rgba(0,0,0,0.5);*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", "cursive" sans-serif;
}

.btn {
  background-color: .btn color-bg2;
}

.btn-new {
  background-color: #99E2D0;
}

.card-heart {
  width: 2rem;
  height: 2rem;
  border: 0 solid transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  /* &hover {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0;
         content: "";
         //transition: 500ms;
         //background: linear-gradient(0deg,#9356dc,#ff79da);
         background: linear-gradient(to bottom, pink 0%, violet 100%);
         transition: all 700ms ease-out;
   } */
}
.card-heart .fa-heart {
  font-size: 22px;
}
.card-heart .fa-heart:hover {
  opacity: 0;
  /*   width: 100%;
  height: 100%;
  opacity: 0;
  content: "";
  //background: linear-gradient(0deg,#9356dc,#ff79da);
  background: linear-gradient(to bottom, pink 0%, violet 100%);
  transition: all 700ms ease-out;
  .fa-heart-invisible {
        background-color: linear-gradient($color-primary);
        opacity: 1; */
}
.card-heart .fa-heart:hover .fa-heart-invisible {
  width: 100%;
  height: 100%;
  color: transparent;
  opacity: 0;
}
.card-heart .fa-heart:hover .fa-heart-invisible:hover {
  opacity: 1;
  content: "";
  transition: all 700ms ease-out;
  background: linear-gradient(to bottom, pink 0%, violet 100%);
}

header {
  text-align: center;
}
header h1 {
  color: black;
  box-shadow: 0 5px 10px #eaeaea;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  padding: 8px;
}
header .search-city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  padding: 12px;
}
header .search-city input {
  border: none;
  background-color: #eaeaea;
  padding-left: 10px;
  color: black;
  font-weight: bold;
}
header .search-button {
  background-color: #f6f6f6;
  padding: 38px;
}
header .search-button h2 {
  font-size: 22px;
}
header .search-button p {
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 18px;
}
header .search-button button {
  margin: 18px;
  padding: 14px;
  border-radius: 30px;
  box-shadow: 0 5px 10px #eaeaea;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}
@media screen and (min-width: 520px) {
  header {
    height: 330px;
  }
}

.functioning {
  background-color: #fff;
  padding: 30px 0;
}
.functioning h3 {
  font-size: 22px;
  padding-left: 15px;
}
.functioning ol {
  display: grid;
  grid-template-rows: repeat 3, 80px;
  gap: 20px;
  padding: 20px 30px;
  counter-reset: li;
}
.functioning ol li {
  box-shadow: 0 5px 10px #eaeaea;
  background-color: #f6f6f6;
  padding: 24px;
  border-radius: 20px;
  font-weight: 600;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  counter-increment: li;
}
.functioning ol li:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.functioning ol li ::before {
  content: counter(li);
  background-color: #9356DC;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border-radius: 50%;
  font-family: roboto, sans-serif;
  position: absolute;
  top: 26px;
  left: -14px;
  color: white;
}
.functioning ol li .fas {
  width: 40px;
  text-align: center;
}
@media screen and (min-width: 520px) {
  .functioning {
    height: 370px;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 30px;
  display: grid;
  gap: 20px;
  grid-template-rows: auto repeat(4, 250px);
  grid-template-areas: "titre" "palette" "note" "francaise" "delice";
  /*   @media screen and (min-width: 520px) {
         height: 650px;
         grid-template-columns: 1fr 1fr;
         grid-template-areas: 
             "titre titre"
             "palette note"
             "francaise delice";
     } */
  /*  @media screen and (min-width: 1024px) {
        height: 400px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "titre titre titre titre"
            "palette note francaise delice";
    } */
}
.restaurants .resto-title {
  grid-area: titre;
}
.restaurants .palette {
  grid-area: palette;
}
.restaurants .note {
  grid-area: note;
}
.restaurants .francaise {
  grid-area: francaise;
}
.restaurants .delice {
  grid-area: delice;
}
.restaurants h3 {
  font-size: 22px;
}
.restaurants .card {
  display: block;
  border-radius: 20px;
  box-shadow: 0 5px 10px #eaeaea;
}
.restaurants figure {
  position: relative;
  box-shadow: 0 5px 10px #eaeaea;
  border-radius: 20px;
  height: 180px;
}
.restaurants .new {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #99E2D0;
  color: #278870;
  padding: 4px;
  font-weight: bold;
}
.restaurants figcaption {
  height: 40%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  color: black;
  padding: 10px;
  position: relative;
  /*   .fa-heart {
         position: absolute; //?
         top: 20px; //?
         right: 20px; //?
         font-size: 22px;               
     }  // code copié dans components */
}
.restaurants figcaption h4 {
  font-size: 17px;
}
.restaurants figcaption p {
  font-size: 17px;
}
.restaurants img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

footer {
  background-color: #353535;
  padding: 20px;
}
footer h4 {
  padding-bottom: 16px;
  font-family: "shrikhand";
  font-weight: 500;
}
footer .fas {
  width: 20px;
}
footer a {
  color: white;
}
footer .fa-hands-helping {
  font-size: 0.7rem;
}
@media screen and (min-width: 940px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}

body {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  /*creation loader*/
  /*.loader-container {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.9);

  }
  .loader {
      width: 120px;
      height: 120px;
      border: 5px solid transparent;
      border-top-color: $color-primary;
      border-radius: 50%;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      animation: spin 6s linear infinite;

      &::before {            
          content: "";
          position: absolute;
          width: 90px;
          height: 90px;           
          //top: 5px;
          //left: 5px;
          //right: 5px;
          //bottom: 5px; 
          border-radius: 50%;
          border: 5px solid transparent;
          border-top-color: $color-secondary;
          animation: spin 7s linear infinite;
      }

      &::after {            
          content: "";
          position: absolute;
          width: 85px;
          height: 85px;
          top: 5px;
          left: 5px;
          //right: 15px;
          //bottom: 15px;
          border-radius: 50%;
          border: 5px solid transparent;
          border-top-color: $color-tertiary;
          animation: spin 8s linear infinite;
      }
  } */
  /*@media screen and (min-width: 520px) {             
      grid-template-columns: 1fr 2fr;

      header {
          grid-area: header;
      }

      .functioning {
          grid-area: functioning;
      }

      .resto-title {
          grid-area: titre;
      }

      .palette {
          grid-area: palette;
      }

      .note {
          grid-area: note;
      }

      .francaise {
          grid-area: francaise;
      }

      .delice {
          grid-area: delice;
      }

      footer {
          grid-area: footer;
      }
      grid-template-areas:             
          "header header"
          "functioning functioning"
          "titre titre"
          "palette note"
          "francaise delice"
          "footer footer";        
  }

  @media screen and (min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;

      header {
          grid-area: header;
      }

      .functioning {
          grid-area: functioning;
      }    

      .palette {
          grid-area: palette;
      }

      .note {
          grid-area: note;
      }

      .francaise {
          grid-area: francaise;
      }

      .delice {
          grid-area: delice;
      }

      footer {
          grid-area: footer;
      }
      grid-template-areas: 
          "header header header"
          "functioning palette note"
          "functioning francaise delice"        
          "footer footer footer";        
  } */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

section button {
  margin: 18px;
  padding: 14px;
  border-radius: 30px;
  box-shadow: 0 5px 10px #eaeaea;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  padding: 14px 40px;
}
section h2 {
  text-transform: uppercase;
}
section h2 span {
  border-bottom: 2px solid #99E2D0;
}
@media screen and (min-width: 520px) {
  section {
    display: grid;
    grid-template-columns: repeat 3, 1fr;
    grid-template-areas: "starter dish dessert" ". order .";
  }
  section .starter {
    grid-area: starter;
  }
  section .dish {
    grid-area: dish;
  }
  section .dessert {
    grid-area: dessert;
  }
  section .order {
    grid-area: order;
  }
}

.resto__header {
  position: relative;
  padding: 10px 0;
}
.resto__header .fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

main {
  background-color: #f6f6f6;
  border-radius: 10%;
  /*&__header img{
      width: 100%;
      max-width: 100%;
      display: block;
  } */
}

.resto__name {
  position: relative;
  display: flex;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  height: 60px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  margin-top: -60px;
  /* h1 {
      background-color: $color-bg2;
  } */
}

article {
  padding: 20px;
}
article ul {
  display: grid;
  gap: 10px;
}
article li {
  border: 1px solid transparent;
  box-shadow: 0 5px 10px #eaeaea;
  border-radius: 12px;
  position: relative;
  background-color: #fff;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
article li .choice {
  width: 80%;
  animation-delay: 150ms;
  position: relative;
}
article li .choice p {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  transition: width 400ms text-overflow 400ms;
}
article li .choice .price {
  font-size: 12px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: bold;
  transition: margin-right 400ms;
}
article li .choice h3 {
  font-size: 15px;
}
article li .check {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  transition-duration: 400ms;
  transform-origin: right;
  transform: translateX(100%);
  border-radius: 0 12px 12px 0;
  /*   .check {
         position: absolute;
         @include flex-center;
         top: 0;
         left: 100%;
         width: 50px;
         height: 100%;
         background-color: $color-tertiary;
         border-radius: 0 12px 12px 0;
         color: white;
         font-size: 20px;
         transform-origin: right;
         visibility: hidden;
     }*/
}
article li .check .fa-check-circle {
  transform: translateX(0);
  transition: transform 300ms ease-out 100ms;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #99E2D0;
  color: red;
}
article li .check .fa-check-circle:hover {
  transform: translateX(-20%) rotate(-360deg);
  color: #99E2D0;
  border-radius: 50%;
  height: 50%;
  width: 50%;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 520px) {
  article body {
    display: grid;
    grid-template-columns: repeat 3, 1fr;
    grid-template-areas: "resto__header resto__header resto__header" "main__header main__header main__header" "starter dish dessert" ". order ." "footer footer footer";
  }
  article body .resto__header {
    grid-area: resto__header;
  }
  article body .main__header {
    grid-area: main__header;
  }
  article body .starter {
    grid-area: starter;
  }
  article body .dish {
    grid-area: dish;
  }
  article body .dessert {
    grid-area: dessert;
  }
  article body .order {
    grid-area: order;
  }
  article body footer {
    grid-area: footer;
  }
}

/*# sourceMappingURL=style.css.map */
