/*creation loader*/
.loader-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    animation: spin-opacity 3s linear forwards;
}
.loader {
    width: 120px;
    height: 120px;
    border: 5px solid transparent;
    border-top-color: $color-primary;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    animation: spin 4s linear infinite;

    &::before {
        content: "";
        position: absolute;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top-color: $color-secondary;
        animation: spin 2s linear infinite;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top-color: $color-tertiary;
        animation: spin 3s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin-opacity {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

main {
    @media screen and (min-width: 1220px) {
        padding: 0 0 30px 30px;
    }
}

@media screen and (min-width: 1400px) {
    .restaurants {
        /*
        display: grid;
        grid-template-columns: repeat (4, 1fr);
        grid-template-areas:
            "titre . . ."
            "palette note francaise delice";
            */

        .resto-title {
            grid-area: titre;
        }
        .palette {
            grid-area: palette;
        }
        .note {
            grid-area: note;
        }
        .francaise {
            grid-area: francaise;
        }
        .delice {
            grid-area: delice;
        }
    }
}
