.resto-main {
    @media screen and (min-width: 600px) {
        display: grid;
        //grid-template-columns: repeat (2, 1fr);
        grid-template-areas:
            "main__header main__header"
            "resto__section resto__section";

        .main__header {
            grid-area: main__header;
            img {
                max-height: 450px;
                object-fit: cover;
            }
        }
        .resto__section {
            grid-area: resto__section;
        }
    }
}

.resto__header {
    position: relative;
    box-shadow: $box-shadow;

    .fa-arrow-left {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: black;
    }
}

main {
    background-color: $color-bg2;
    padding-bottom: 30px;
}

.resto__name {
    position: relative;
    display: flex;
    background-color: $color-bg2;
    border-radius: 40px 40px 0 0;
    height: 62px;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    margin-top: -60px;
    .resto-h1 {
        color: black;
        font-family: "Shrikhand", sans-serif;
        padding: 8px;
        font-size: 23px;
        @media screen and (min-width: 360px) {
            font-size: 28px;
        }
    }
}

.resto__section {
    button {
        @include button-color;
        padding: 15px 60px;
        margin: 0 auto;
    }

    h2 {
        text-transform: uppercase;
        margin-bottom: 16px;
        span {
            border-bottom: 2px solid $color-tertiary;
            padding-bottom: 4px;
        }
    }
    /* version tablette */
    @media screen and (min-width: 600px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "starter dish"
            "dessert order";
        padding: 20px;
        grid-gap: 20px;
        .starter {
            grid-area: starter;
        }

        .dish {
            grid-area: dish;
        }

        .dessert {
            grid-area: dessert;
        }

        .order {
            grid-area: order;
            height: 44px;
            margin: auto;
            @include flex-center;
        }
        article {
            padding: 0;
        }
    }
    /* version ordi */
    @media screen and (min-width: 1220px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "starter dish dessert"
            ". order .";
    }
}
/* détail menus */
article {
    padding: 20px;

    ul {
        display: grid;
        gap: 15px;
        @media screen and (min-width: 1220px) {
            gap: 30px;
        }
    }

    li {
        box-shadow: $box-shadow;
        border-radius: 12px;
        position: relative;
        background-color: #fff;
        display: flex;
        //   justify-content: space-between;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
        // apparition progressive
        transition: transform 1s;
        -webkit-animation: progress 3s;
        -moz-animation: progress 3s;
        animation: progress 3s forwards;
        transform: translateY(20px);
        @keyframes progress {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .choice {
            width: 100%;
            padding: 8px;
            /*
            animation-delay: 150ms;
            animation: opacity 1s both;
            */
            position: relative;
            transition: all 2s;
            p {
                font-size: 12px;
                @media screen and (min-width: 600px) {
                    font-size: 11px;
                }
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-wrap: break-word;
                padding-right: 40px;
                //transition: width 400ms text-overflow 400ms;
            }

            .price {
                font-size: 12px;
                position: absolute;
                right: 16px;
                bottom: 10px;
                font-weight: bold;
            }

            h3 {
                font-size: 15px;
            }
        }
        .check {
            height: 100%;
            transform: translateX(60px);
            background-color: $color-tertiary;
            border-radius: 0 12px 12px 0;
            transition: all 2s;
            width: 0;
            //opacity: 0;
            @include flex-center;
            i {
                color: white;
            }
        }
        &:hover > span:nth-child(1) {
            width: calc(100% - 60px);
        }
        &:hover > span:nth-child(2) {
            transform: translateX(0);
            width: 60px;
            .fa-check-circle {
                animation: rotate 2s;
                @keyframes rotate {
                    0% {
                        transform: rotate(-360deg);
                    }
                    100% {
                        transform: rotate(0);
                    }
                }
            }
        }
    }
}

.order {
    display: block;
    margin: 0 auto;
}
